.service{
  line-height: 2;
  margin-top: 5rem;
}


// ---------sercvice card -------

.service_container{
 display: flex;
 justify-content: center;
 width: 100%;  
 margin-top: 5rem; 
}
.card{
    min-width: 25%;
}
.text{
    font-size: 13px;
}