.home{
    border: 1px solid black;
    margin-top: 8rem;
    height: 100vh;
}

.banner {
    width: 100%;
    margin-top: 4rem;
}
// .main_container{
// // display: grid;
// // grid-template-columns: repeat(2,1fr);
// }

// @media screen and (max-width:768px) {
   
// }